.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  align-items: center;
  color: #f1f1f5;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
}

.fighter-preview___root img {
  height: 30vh;
}

.fighter-preview___root span {
  -webkit-text-stroke: 0.5px #ffffff;
  color: #dd101c;
  font-size: 1.8rem;
  font-weight: bold;
}

.fighter-preview__name {
  margin-bottom: 15px;
  background: linear-gradient(45deg, #dd101c, #f1f1f5);
  -webkit-text-stroke: 0.7px #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
